
<div id="chartContainer"></div>

<script type="text/javascript">

    $(function () {
        var dps = @Html.Raw(ViewBag.DataPoints);
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: "Line Chart in ASP.Net MVC using CanvasJS"
            },
            subtitles: [
                {
                    text: "Try Zooming and Panning"
                }
            ],
            data: [
            {
                type: "line",

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                dataPoints: dps,
            }
            ]
        });
        chart.render();

       
        var updateInterval = 2000;


        function success(data){
            console.log("New data arrived: " + data.x + " " + data.y);
            dps.push({x: data.x, y: data.y});
            chart.render();
        }

        var updateChart = function () {
            var url = "http://efcv2.azurewebsites.net/api/valuesapi/GetValuesI/";
            //var url = "http://localhost:59815/api/valuesapi/GetValuesI/"
            var xValue = dps[dps.length-1].x + 1;
            //xValue = 2254;
            url = url + xValue;
            $.ajax({
                method: "GET",
                url: url,
                success: success
            });
        };
        setInterval(function () { updateChart() }, updateInterval);
    });
</script>
