@{
    ViewBag.Title = "About";
}
<h2>EFC LAB.</h2>
<h3>Energy Flow Control Laboratory.</h3>

<p>EFC Lab operates under Division of Industrial Electric Devices and Decision Systems.</p>
<p>The design and upgrade of the instructional electrical machines laboratory with Internet of Things (IoT) technologies is the primary target.</p>
<p>
    While electric machines have not changed much in their structures and materials,
    drive technologies for machines and instruments have made tremendous advances,
    which is why many suggestions for improvement have focused on that part.
    The simple induction motor has remained relatively unchanged for over a hundred years.
    It is now able to circumvent a wire-bound sensor solution for drive over the web or
    even predictive maintenance, and enter the Internet-connected world without costly alteration
    or mechanical upgrades.
</p>
<p>Upgrading laboratory equipment with connected sensors, devices, and intelligent operations enables new educational opportunities. The transformation is based on an architecture for secure and scalable, device-centric solutions for connecting electrical machines, conducting analysis, and integrating with backend systems</p>
<p></p>
<h2>The Team</h2>
<ul>
    <li>Thanasis - Software Engineer</li>
    <li>Kostantinos - Software Engineer</li>
    <li>Basilis - Electronic Engineer</li>
    <li>Spyros - Microcomputer Wizard</li>
    <li>Maria -  Electrical Engineer</li>
    <li>Tasos - Project Engineer</li> 
</ul>
