@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>EFC LAB.</h3>

<address>
&nbsp;Iroon Polytechneiou 9,<br>
&nbsp;&nbsp;&nbsp; Zografou<br>
&nbsp;&nbsp;&nbsp; <abbr title="Phone">....</abbr></address>

<address>
    <strong>Support:</strong>   <a href="mailto:el10739@central.ntua.gr">Support@efc.com</a><br />
    <strong>Micro-electronics:</strong>   <a href="mailto:el03626@central.ntua.gr">microelectronics@efc.com</a><br />

    <strong>Marketing:</strong> <a href="mailto:stamelos@mail.ntua.gr">Marketing@efc.com</a>
</address>