@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EFC</h1>
    <p class="lead">Efc - Energy Flow Control - IoT.</p>
    <p><a href="http://efc.hopto.org" class="btn btn-primary btn-lg">Control Motor &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Connect devices</h2>
        <p>
            Connect a device.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Connect Devices»</a></p>
    </div>
    <div class="col-md-4">
        <h2>Control</h2>
        <p>Take control of your devices.</p>
        <p><a class="btn btn-default" href="http://efc.hopto.org">Control»</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monitor your System</h2>
        <p>You can easily your system and create visual real-time or historical data.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>